* {
    margin: 0;
    padding: 0;
}

body {
    height: 100hv;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    background-color: rgb(71, 71, 71);
}

.score {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 48px;
    color: rgb(220, 200, 100);
}

.container {
    display: grid;
    grid-template-areas: 'a c' 'b d';
    width: 90vw;
    justify-items: center;
}

.wrap {
    position: relative;
    width: 90vmin;
    height: 90vmin;
    max-width: 500px;
    max-height: 500px;
    grid-area: a;
}

.tile {
    --size: 12.5%;
    --row: 0;
    --column: 0;
    position: absolute;
    box-sizing: border-box;
    width: var(--size);
    height: var(--size);
    top: calc(var(--row) * var(--size));
    left: calc(var(--column) * var(--size));
    cursor: pointer;
    border: 2px solid rgb(46, 45, 43);
    border-radius: 50%;
    transition-property: top, left;
    transition-duration: 100ms;
    /*время замены плиток*/
    animation: show 35ms;
    /*время падения и появления плиток*/
}

@keyframes show {
    0% {
        opacity: 0.5;
    }
}

.tile.selected {
    border: 3px solid blanchedalmond;
}

.tile.hide {
    opacity: 0;
    animation: hide 200ms;
}

@keyframes hide {
    0% {
        opacity: 1;
    }
}

.tile1 {
    background-color: rgb(66, 184, 131);
}

.tile2 {
    background-color: rgb(177, 70, 70);
}

.tile3 {
    background-color: rgb(43, 43, 177);
}

.tile4 {
    background-color: rgb(158, 141, 58);
}

.tile5 {
    background-color: rgb(144, 65, 175);
}

.tile6 {
    background-color: rgb(141, 89, 38);
}

.tile7 {
    background-color: rgb(18, 70, 70);
}

.healthPointPlayer {
    --amount: 100%;
    position: absolute;
    top: 0;
    right: calc(100% - var(--amount));
    width: var(--amount);
    height: 100%;
    background-color: rgb(51, 206, 103);
}

.healthPointBGPlayer {
    margin-top: 20px;
    position: relative;
    height: 5vmin;
    width: 90vmin;
    width: 90vmin;
    max-width: 500px;
    max-height: 50px;
    background-color: rgb(63, 66, 114);
    border: ridge #1f3f47 2px;
    grid-area: b;
}

.healthPointMonsterOne {
    --amount: 100%;
    position: absolute;
    top: 0;
    right: calc(100% - var(--amount));
    width: var(--amount);
    height: 100%;
    background-color: rgb(51, 206, 103);
}

.healthPointBGMonsterOne {
    position: relative;
    height: 5vmin;
    width: 90vmin;
    width: 90vmin;
    max-width: 500px;
    max-height: 50px;
    background-color: rgb(63, 66, 114);
    border: ridge #1f3f47 2px;
    margin-top: 20px;
    grid-area: d;
}

.monsterOneContainer {
    position: relative;
    grid-area: c;
    height: 300px;
    width: 300px;
    max-height: 500px;
    max-width: 500px;
}

.monsterOneShape {
    height: 300px;
    width: 300px;
    max-height: 500px;
    max-width: 500px;
    background-image: url(./assets/skeletonArcherAppearanceSprite.png);
    background-repeat: no-repeat;
    background-size: cover;

    animation: skeletonAppearance 0.25s steps(1) forwards;
    margin-top: 150px;
}

@keyframes skeletonAppearance {
    0% {
        background-position: 100px;
    }

    100% {
        background-position: -252px;
    }
}

.monsterOneArrow{
    position: absolute;
    width: 135px;
    height: 30px;
    background-image: url(./assets/skeletonArcherArrow.png);
    background-size: cover;
    left: 85px;
    top: 230px;
    animation: shoot 0.5s linear forwards;
    opacity: 0;
}

@keyframes shoot {
    0%{
        opacity: 1;
    }
    99%{
        left:-250px;
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.monsterOneShoot{
    margin-top: 170px;
    height: 280px;
    background-image: url(./assets/skeletonArcherShoot.png);
    animation: none;
    background-size: contain;
    background-position: 100px;
}